* {
  margin: 0;
  padding: 0;
}
section {
  text-align: center;
  background: #eee;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;

  border: 2px solid rgb(4, 63, 81);
  border-radius: 10px;
  padding: 0.7rem 1rem;

  box-shadow: 0 0 0.5rem grey;
  transition: 0.5s;
}

a:hover {
  box-shadow: 0 0 1rem grey;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

h1 {
  padding: 2rem 0;
}

/****************************************************************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 2rem;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/****************************************************************************/
.Home {
  text-align: center;
}
.Home > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Home > div a {
  width: 20rem;
}